	p {
    text-align: center;
    }
    
    h1 {
    text-align:center;
    font-family: "Arial", Helvetica, san-serif;
    margin-top: 50px;
    }
    
    body {
    background-image: url('https://pixabay.com/get/eb36b80721f0073ecd1f4d03e14c4797e56ae3d01bb2144392f6c37a/white-2398946.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
    .center {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    border: 3px solid #000000;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    
}
/* unvisited link */
a:link {
    color: #000000;
}
/* visited link */
a:visited {
    color: #000000;
}
/* mouse over link */
a:hover {
    color: #DBB1CD;
}
/* selected link */
a:active {
    color: #000000;
}
